.navbar-collapse {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.nav > li > a {
    padding: 15px 30px 15px 0px !important;
}

dd {
    margin-left: 30px !important;
}

h1 {
    font-size: 2.0em !important;
}
h2 {
    font-size: 1.8em !important;
}
h3 {
    font-size: 1.6em !important;
}
h4 {
    font-size: 1.4em !important;
}
h5 {
    font-size: 1.2em !important;
}
